@using Wimi.BtlCore.Web.Models.Common.Modals
@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ChooseShift")))
<div class="modal-body">
    <form name="shiftDetailForm" role="form" novalidate class="form-validation">
        <div class="row">
            <div class="form-group form-md-line-input form-md-floating-label col-md-12">
                <label>@L("ChooseShift")</label>
                <select class="form-control" id="shiftDetailId" name="shiftDetailId" required></select>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label col-md-12">
                <label>@L("SelectionOfficer")</label>
                <select class="form-control" id="userId" name="userId" required></select>
            </div>
        </div>
    </form>
</div>
@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

