<!-- Widget: 设备组当日班次稼动率 -->
<div class="box box-solid">
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="box-header with-border bg-light-blue">
        <h4 class="xs-mv-0"><i class="fa fa-bar-chart"></i> @L("CropMotivationRateOfEquipmentShift")</h4>
        <div class="activationheaderinfo"></div>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool text-white" data-widget="collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
        <!-- /.box-tools -->
    </div>

    <div class="box-body">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="chart_activation" style="height: 300px;">
        </div>
    </div>
</div>
<!-- /.widget-设备组当日班次稼动率 -->