<div id="legend_page" style="width:60px;height:20px;right:10px;top:73px;border:0px solid;position:absolute;display:none;">
    @*z-index:99*@
    <a id="prePage"><span class="glyphicon glyphicon-triangle-left" style="color:#334B5C;"></span></a>
    <span id="page_text"></span>
    <a id="nextPage"><span class="glyphicon glyphicon-triangle-right" style="color:#D53A35;"></span></a>
</div>