@using Wimi.BtlCore.Web.Models.Common.Modals
@model Wimi.BtlCore.Web.Models.StatisticAnalysis.YieldAnalysisStatistics.GetQueryConditionsViewModel
@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("SelectQueryConditions")))
<div class="modal-body">
    <div class="input-group xs-pv-5 xs-ph-5 col-xs-12">
        <span class="input-group-addon no-border"><b class="text-primary">@L("TimeFrame")</b></span>
        <input type="text" class="form-control" id="daterange-btn" data-type="calendar"/>
    </div>
    <div class="input-group xs-ph-5 xs-pv-10 col-xs-12">
        <span class="input-group-addon no-border"><b class="text-primary">@L("QueryDevice")</b></span>
        @await Html.PartialAsync("~/Views/Common/_GrantedMachineTree.cshtml", Model)
    </div>
</div>
@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
