<div class="modal-footer">
    <button type="button" class="btn btn-primary blue" id="SaveAndContinue">
        <i class="fa fa-save"></i> <span>保存并继续</span>
    </button>

    <button type="button" class="btn btn-primary close-button" data-dismiss="modal">@L("Cancel")</button>

    <button type="button" class="btn btn-primary blue save-button">
        <i class="fa fa-save"></i> <span>@L("Save")</span>
    </button>

</div>
