@using Wimi.BtlCore.Web.Models.Common.Modals
@model Wimi.BtlCore.Web.Models.Order.DefectiveReason.EditDefectivePartModal


@await Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Edit") + ": " + Model.Name))


<div class="modal-body">

    <form name="DefectivePartForm" role="form" novalidate class="form-validation">

        <input type="hidden" name="Id" value="@Model.Id" />

        <div class="form-group">

            <label>@L("Name")</label>

            <input class="form-control edited" type="text" name="Name" value="@Model.Name" checkSpace="true" required maxlength="50">

        </div>

    </form>

</div>


@await Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
