@using Wimi.BtlCore.Web.Models.Common.Modals
@Html.PartialAsync("~/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("ModalHeader")))


<div class="modal-body">

    TODO: Modal Content

</div>


@Html.PartialAsync("~/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")