@using Wimi.BtlCore.Web.Startup
@model Wimi.BtlCore.Web.Models.DevicesMonitoring.MachineStates.MachineStatesViewModel
@{
    ViewBag.CurrentPageName = PageNames.App.Page.DevicesMonitoring_DevicesRealtimeAlarms;
}

@section Scripts
{
    <script src="~/view-resources/Views/DevicesMonitoring/MachineRealtimeAlarms/Index.js" asp-append-version="true"></script>
    <script src="~/Scripts/layer/layer.js" asp-append-version="true"></script>
    <script src="~/Scripts/jquery.dotdotdot.min.js" asp-append-version="true"></script>
    <script src="~/view-resources/Views/Common/_MachinesTree.js" asp-append-version="true"></script>
}
@section Styles
{
    <link rel="stylesheet" href="~/Scripts/layer/skin/default/layer.css" asp-append-version="true" />
}

<style>
    div.box-comments {
        min-height: 183px !important;
        overflow-x: hidden !important;
        overflow-y: auto !important;
        max-height: 183px !important;
    }

    .widget-user-username {
        height: 30px !important;
    }

    .content {
        position: relative;
    }

    .arrow {
        font-size: 66px;
        position: absolute;
        z-index: 99999;
        opacity: 0;
        cursor: pointer;
        color: #1d89cf;
    }

    .showD {
        color: #c4c4c4 !important;
    }

    .content:hover .arrow {
        opacity: 1
    }

    #previous {
        left: 0;
    }

    #next {
        right: 0;
    }
</style>

<section class="content-header">
    <h1>
        @L("MachineAlarmInfo")<small></small>
    </h1>
    <div class="header-tools pull-right">
        <button class="btn btn-primary" id="OpenTreeLayer">@L("ChooseDeviceGroup")</button>
    </div>
</section>

<section class="content">
    <i class="glyphicon glyphicon-menu-left arrow showD" id="previous"></i>
    <i class="glyphicon glyphicon-menu-right arrow" id="next"></i>
    <div class="row">
        <div class="col-md-12 col-xs-12 xs-pr-0">
            <div class="box box-solid">
                <div class="box-header with-border hidden">
                    <h3 class="box-title">
                        <i class="fa fa-object-group"></i> @L("DeviceGroups")
                    </h3>
                </div>
                <!--     <div class="box-body"> -->
                <div class="layer_notice hidden xs-p-10">
                    @await Html.PartialAsync("~/Views/Common/_GrantedDeviceGroupTree.cshtml", Model)
                </div>

                <!-- <div class="col-md-1 col-xs-12">
                    <h4 class="box-title"><i class="fa fa-eye"></i> 已显示:</h4>
                </div>
                <div id="SelectedGroupTags" class="btn-group col-md-11 col-xs-12 xs-mt-5">

                </div> -->
                <!--       </div> -->
            </div>
        </div>
        <div class="col-md-12 col-xs-12 xs-pr-0" id="machineAlarmPanel">

        </div>
    </div>
</section>

<script id="alarm-template" type="text/x-handlebars-template">
    {{#each this}}
    <div class="col-md-3 col-xs-12" data-groupId="{{groupId}}" data-machineId="{{machineId}}" data-code="{{code}}" id="machine-{{code}}">
        <div class="box box-widget widget-user-2">
            <div class="widget-user-header bg-black-active" style="background-color: {{statusInfo.hexcode}} !important">
                <div class="widget-user-image">
                    {{renderImage imagePath}}
                </div>
                <button type="button" class="btn btn-warning btn-xs pull-right refresh"><i class="fa fa-refresh"></i></button>
                <div class="ellipsis" data-toggle="tooltip" data-placement="top">
                    <h3 class="widget-user-username">{{name}}</h3>
                </div>

                <div class="widget-user-desc">
                    {{#if statusInfo}}
                    <span class="group-tags label bg-black" style="opacity:0.8">{{statusInfo.displayName}}</span>
                    {{else}}
                    <span class="group-tags label bg-black" style="opacity:0.8">[@L("NotConnected")]</span>
                    {{/if}}
                </div>
            </div>

            <div class="box-footer box-comments">
                {{#if mongoAlarmInfo.alarmItems}}
                {{#each mongoAlarmInfo.alarmItems}}
                <div class="box-comment">
                    {{#if isAlarming}}
                    <div class="comment-text no-margin text-red">
                        <span class="username text-red">
                            <i class="fa fa-bell"></i> {{code}}<small>   [@L("BeAlarming")]</small>
                            <span class="text-muted pull-right text-red">{{creationTime}}</span>
                        </span>
                        <span class="ellipsis">{{message}}</span>
                    </div>

                    {{else}}
                    <div class="comment-text no-margin">
                        <span class="username">
                            <i class="fa fa-bell"></i> {{code}}
                            <span class="text-muted pull-right">{{creationTime}}</span>
                        </span>
                        <span class="ellipsis">{{message}}</span>
                    </div>
                    {{/if}}
                </div>
                {{/each}}
                {{renderLoadMore mongoAlarmInfo.alarmItems}}
                {{/if}}
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script id="alarmCommit" type="text/x-handlebars-template">
    {{#each this}}
    {{#if code}}
    <div class="box-comment">
        {{#if isAlarming}}
        <div class="comment-text no-margin text-red">
            <span class="username text-red">
                <i class="fa fa-bell"></i> {{code}}<small>   [@L("BeAlarming")]</small>
                <span class="text-muted pull-right text-red">{{creationTime}}</span>
            </span>
            <span class="ellipsis">{{message}}</span>
        </div>

        {{else}}
        <div class="comment-text no-margin">
            <span class="username">
                <i class="fa fa-bell"></i> {{code}}
                <span class="text-muted pull-right">{{creationTime}}</span>
            </span>
            <span class="ellipsis">{{message}}</span>
        </div>
        {{/if}}
    </div>
    {{/if}}
    {{/each}}
</script>